* {
    color: #f8ffe9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background-color: #2E3D48;
  }
  
  h1 {
    font-weight: normal;
    text-align: center;
  }
  
  .change p {
    font-size: 0.75rem;
  }
  .container {
    margin: 0 5%;
  }
  
